.personal_basic_info
  .personal_basic_info_entry
    %span.content_label #{t('member.profile.gender')}:
    %span.content_text #{@member.profile.gender}
  .personal_basic_info_entry
    %span.content_label #{t('member.profile.birthday')}:
    %span.content_text #{@member.profile.birthday}
  .personal_basic_info_entry
    %span.content_label #{t('member.profile.country')}:
    %span.content_text #{@member.profile.country}
  .personal_basic_info_entry
    %span.content_label #{t('member.profile.bio')}:
    %span.content_text #{@member.profile.bio}
  .personal_basic_info_entry
    %span.content_label #{t('member.profile.about')}:
    %span.content_text #{@member.profile.about}